# --- Rác hệ thống & Word ---
.DS_Store
Thumbs.db
~$*
*.log

# --- PlatformIO chặn folder này vì nó nặng ---
.pio/
.pioenvs/
.piolibdeps/

# --- Python & Môi trường ảo ---
env/
venv/
.venv/
__pycache__/
*.pyc